body {
    background-color: #222;
    background-image: url('img/low_contrast_linen.png');
    background-repeat: initial initial;
    background-position: initial initial;

}

#current_slide {
    margin:0 auto;    
    width:960px; 
    height: 600px;
    position:relative;        
    padding:10px;
    color:#DDD;
    font-family:  'Garamond', 'Didot'
}

#current_slide a {    
    color:#EEE;
}

#current_slide .title, #current_slide .big_title {
    font-weight: 900;    
    font-size:32pt;    
    margin-bottom:32px;
}

#current_slide div:first-child, #current_slide pre:first-child {
    padding-top:40px;
}


#current_slide .big_title, #current_slide .hero{
    font-size: 48pt;    
    margin-bottom: 32px;
}

#current_slide .footer {
    position: absolute;
    top: 580px;
    font-size:18pt;
}

#current_slide .prose {
    font-size: 28pt;
    margin-bottom: 32px;
}


#current_slide .code {
    white-space:pre;
    background-color: rgba(0,0,0,0.2);    
    color:#CCC;
    font-family: 'Anonymous Pro', 'Menlo', 'Courier';    
    font-size: 18pt;
    line-height: 1.4em;
    padding: 10px;
}

#current_slide ul.bullets {
    margin-top:0px;
}

#current_slide .bullets {    
    list-style-type: 'disc';
    font-weight: 600;
    font-size: 24pt;
    line-height: 1.8em;


}

#current_slide .social {
    list-style-type: none;
    font-weight: 600;
    font-size: 18pt;

}