body {
    background-color: #222;

}

#current_slide {
    margin:0 auto;    
    width:960px; 
    height: 600px;
    position:relative;        
    padding:10px;
    color:#EEE;
    font-family: 'Garamond'
}

#current_slide .title, #current_slide .big_title{        
    font-weight: 900;
    padding-top:40px;
    font-size:32pt;    
    margin-bottom:32px;
}

#current_slide .big_title {
    font-size: 48pt;
    
}

#current_slide .code {
    white-space:pre;
    background-color: #333;
    color:#CCC;
    font-family: 'Anonymous Pro';    
    font-size: 18pt;
    padding: 10px;
}

#current_slide ul.bullets {
    margin-top:0px;
}

#current_slide .bullets {    
    list-style-type: 'disc';
    font-weight: 600;
    font-size: 24pt;

}

#current_slide .social {
    list-style-type: none;
    font-weight: 600;
    font-size: 18pt;

}